$alto-navbar: 60px;

.hero {
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

.hero__particles {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
  transform: translateZ(0);
}

.hero__contenedor {
  width: 100%;
  height: calc(100% - $alto-navbar);
  display: grid;
  grid-template-rows: 1.1fr 0.9fr;
}

.hero__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  .hero__text__title {
    text-align: center;
    padding: 0 5px;
    font-size: 2em;
    font-weight: 700;
  }

  .hero__text__typing {
    font-size: 1.5em;
    font-weight: 400;
    text-overflow: ellipsis;
    text-align: center;
  }

  .hero__text_social {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

.hero__avatar__contenedor {
  place-self: center;

  .hero__avatar {
    border-radius: 100%;
    overflow: hidden;
    height: 12em;
    width: 12em;

    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;

    .hero__avatar__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 375px) {
  .hero__contenedor {
    font-size: 20px;
  }

  .hero__avatar__contenedor .hero__avatar {
    border-radius: 100%;
    overflow: hidden;
    height: 13em;
    width: 13em;
  }
}

@media screen and (min-width: 400px) {
  .hero__contenedor {
    font-size: 21px;
  }
}

@media screen and (min-width: 428px) {
  .hero__contenedor {
    font-size: 23px;
  }
}

@media screen and (min-width: 768px) {
  .hero__contenedor {
    font-size: 22px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .hero__text {
    justify-content: center;
    gap: 20px;
  }

  .hero__avatar__contenedor .hero__avatar {
    border-radius: 100%;
    overflow: hidden;
    height: 15em;
    width: 15em;
  }
}

@media screen and (min-width: 1200px) {
  .hero__contenedor {
    font-size: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .hero__avatar__contenedor .hero__avatar {
    border-radius: 100%;
    overflow: hidden;
    height: 18em;
    width: 18em;
  }
}
